

/* убираем точечки и подчеркивание */
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* Основные параметры (цвет и фон) */
body {
    background-color: #FFFFFF;
    color: #212121;
    font-family: Roboto, sans-serif;
}



/* _______________________________________________________________________
______________________portfolio________________________________________ */

.visually-hidden {
    position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
   }
   /* скрить заголовок
   _______________________________________________________________________ */